.headerContainer {
    height: 7rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 15rem;
    }
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;       
       
        span {
            color: #7069FC;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: #0A1139;   
            }           
    
    .countdown{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
        align-items: center;      
     }     
    
}  

.btnWhatsapp a {
    margin: 2rem 0;
    width: 15rem;
    height: 5.2rem;
    border-radius: 0.8rem;
    font: 400 2.4rem;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    color: #fff;
    background-color:  #7069FC;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }

}  

.btnWhatsapp a img {
        width: 2rem;
        margin-right: 1rem;
    }
    
.timer section p:first-child, .timer div:last-child span {
    font-size: 3rem;
    color: #7069FC;
}  

.footer {
    font-size: 0.8rem;
    margin-top: 2rem;

}






